.DS_Store
node_modules
.opencode/node_modules
/build
/.svelte-kit
/package
/src-tauri/target
/src-tauri/icons/icon.prev.png
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
